* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f8f7;
    color: #000;
}

header {
    background-color: #8fd6b4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header .menu {
    align-self: center;
    width: 3rem;
    height: auto;
    border-radius: 9px;
}

header .logo {
    align-self: center;
    width: 7rem;
    height: auto;
    border-radius: 9px;
}